/* codecontainer Variables */

#codeContainer {
  /* color Pallete */
  --codeContainer: coral;
  /* Dimensions */
  --height-row-1:20rem;
  --width-row-1:10rem;
 }


/* CodeContainer Styles */
pre{
  margin:0;
}
p {
  margin:0
}
.onShelf{
  display:flex;
  flex-direction: row;
}
.shelf{
  height:30px;
  border-radius: 0.4rem  0.4rem  0.4rem  0.4rem;
  background:brown;
  width:100%;
  text-align: center;
}
.floor{
  height:30px;

  background:rgb(119, 118, 118);
  width:100%;
  text-align: center;
}
.restaurant-row{
  display:flex;
  justify-content: space-between;
  align-items: flex-end
}

.component-container{
  margin:5px;
  display:flex;
  align-items: flex-end
}
.container-molecules-and-header{
  display:flex;
  align-items: flex-end;
  flex-direction:column;
}
.component-header{
  align-self:center;
}
.container-molecules{

}
.padding-sm{
  padding:5px;
}
.codeContainerName{
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

}


.component_grid {
  display: flex;
  flex-direction: row;

}
