.reactFridge_ContainerDimensions{
  width:var(--width-row-1);
  height:var(--height-row-1);
}

.reactFridge_border{
  border-radius:0.8rem 0.8rem 0.8rem 0.8rem;
  border:solid black 3px;
  width:200px;
  height:250px;
  }

.reactFridge_footer,.reactFridge_header{
    text-align:center;
    background:lightgray;
}
.reactFridge_footer{border-radius:0 0 0.8rem 0.8rem;}
.reactFridge_header{border-radius:0.8rem 0.8rem 0 0;}
.reactFridge_salad
,.reactFridge_ketchup
,.reactFridge_pattie
  {
  text-align:left;
  color:	black;
}
.reactFridge_name{text-align:center;}
.reactFridge_salad {background:white;}
.reactFridge_ketchup{background:white;}
.reactFridge_pattie{background:white;}
.reactFridge_footer{background:white;;}

