.reactMenu_ContainerWidth{
  width:800px;
  margin:auto
} 

.reactMenu_bunBottom, .reactMenu_bun{
    padding:1.5rem;
    text-align:center;
    background:palegoldenrod;
}

.reactMenu_salad
,.reactMenu_ketchup
,.reactMenu_pattie
  {
  padding:0.8rem 0.8rem 0.8rem 1rem;
  text-align:left;
  color:	black;
}
.reactMenu_name{text-align:center;}
.reactMenu_salad {background:palegoldenrod;}
.reactMenu_ketchup{background:palegoldenrod;}
.reactMenu_pattie{background:palegoldenrod;}
.reactMenu_footer{background:palegoldenrod;;}

