.paint_ContainerWidth{
  width:500px
}

.reactCss_border{
  border-radius:0.3rem 0.3rem 0.3rem 0.3rem;
  border:solid black 3px;
  }

.reactCss_footer,.reactCss_header{
    text-align:center;
    background:red;
}
.reactCss_footer{border-radius:0 0 0.3rem 0.3rem;}

.reactCss_salad
,.reactCss_ketchup
,.reactCss_pattie
  {
  /* padding:0.8rem 0.8rem 0.8rem 1rem; */
  text-align:left;
  color:	#f8f8ff;
}
.reactCss_name{text-align:center;}
.reactCss_salad {background:red;}
.reactCss_ketchup{background:red;}
.reactCss_pattie{background:red;}
.reactCss_footer{background:red;;}

