

.reactWindow_border{
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  border:blue solid 20px;
  /* width override from style moleculeContainer */
  width:500px!important;
}

.reactWindow_footer,.reactWindow_header{
    text-align:center;
    background:#e3f2fd ;
}

.reactWindow_salad
,.reactWindow_ketchup
,.reactWindow_pattie
  {
  text-align:left;
  color:	#f8f8ff;
}
.reactWindow_name{text-align:center;}
.reactWindow_salad {background:#e3f2fd ;color:black}
.reactWindow_ketchup{background:#e3f2fd ;color:black}
.reactWindow_pattie{background:#e3f2fd ;color:black}
.reactWindow_footer{background:#e3f2fd ;}

